@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.MDBContainer {
    width: 370px;
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
}

.Login-header {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}